@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Bagel+Fat+One&family=Barrio&family=Bree+Serif&family=Cabin+Sketch&family=Hanken+Grotesk:wght@100..900&family=Just+Another+Hand&family=Kranky&family=Londrina+Shadow&display=swap');
@import "tailwindcss";


:root {
  --background-color:#F7A5A5;  
}

@theme{
  
  --color-primary-900:#E39898;
  --color-primary-500:#F7A5A5;
  --color-primary-100:#F6C2C2;
  
  --color-secondary-900:#F4D1AE;
  --color-secondary-500:#FFDBB6;
  --color-secondary-100:#FCE2C7;

  --color-accent1-900:#4B536E;
  --color-accent1-500:#5D688A;
  --color-accent1-100:#747D9A;

  --color-accent2-900:#FFE3DD;
  --color-accent2-500:#FFEDE9;
  --color-accent2-100:#FFF3F0;

  --color-neutral-100:#FFFBFA;
  --color-neutral-200:#FFD8CF;
  --color-neutral-300:#D7E0FF;
  --color-neutral-400:#5D6E9F;
  --color-neutral-500:#3A3D46;
}

@layer components {
  .h1_main{
    @apply
    text-2xl font-normal;
    font-family: "Bree Serif", serif;
    font-style: normal;
  }
  .h2_main{
    @apply
    text-xl font-normal;
    font-family: "Bree Serif", serif;
    font-style: normal;
  }
  .h3_main{
    @apply
    text-lg font-normal;
    font-family: "Bree Serif", serif;
    font-style: normal;
  }
  .h4_main{
    @apply
    text-base font-normal;
    font-family: "Bree Serif", serif;
    font-style: normal;
  }
  .p_main{
    @apply
    text-sm font-normal;
    font-family: "Bree Serif", serif;
    font-style: normal;
  }
  .h1_secondary {
    @apply 
    text-2xl font-medium;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .h2_secondary {
    @apply 
    text-xl font-semibold;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .h3_secondary {
    @apply 
    text-lg font-semibold;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }.h4_secondary {
    @apply 
    text-base font-medium;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }.p_secondary {
    @apply 
    text-sm font-semibold;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .list-1{
    @apply
    text-3xl font-bold;
    font-family: "Anonymous Pro", monospace;
    font-style: normal;
  }
  .list-2{
    @apply
    text-3xl font-normal;
    font-family: "Bagel Fat One", system-ui;
    font-style: normal;
  }
  .list-3{
    @apply
    text-3xl font-normal;
    font-family: "Barrio", system-ui;
    font-style: normal;
  }
  .list-4{
     @apply
    text-3xl font-normal;
    font-family: "Cabin Sketch", sans-serif;
    font-style: normal;

  }
  .list-5{
    @apply
    text-3xl font-normal;
    font-family: "Kranky", serif;
    font-style: normal;
  }
}

body {
  min-height: 100vh;
  background-color: var(--background-color) ;
  display: flex;
  justify-content: center;
}